@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

*{
font-family: 'Roboto', sans-serif;
color: #fff;
}

body {
    /* background-image: linear-gradient(to bottom right, rgb(168, 209, 155), rgb(45, 48, 189)); */
    background-image: linear-gradient( 109.6deg,  rgb(87, 173, 243) 31.3%, rgb(77, 233, 129) 100.2% );
    background-repeat: no-repeat;
    min-height: 100vh;
}

form {
    width: 60%;
    position: relative;
    left: 20%;
}

ul {
    text-decoration: none;
    list-style-type: none;
}

ul, li {
    text-align: left;
}

ul, li a  {
    color: #ffffff;
}

ul, li a:hover  {
    color: rgb(230, 230, 230);
}

input {
    color: #000;
}